
body {
    padding-left: 50px;
}

.center {
    text-align: center;
    font-size: 20px;
}
.account {
    color: gray;
    text-align: center;
    margin-bottom: 100px;
    font-size: 14px;

}
.Overview_icon {
    text-align: left;

}

.Overview_icon2 {
    margin-right: 20px;
}

.Overview_account {
    text-align: left;
    color: gray;
    font-size: 14px;
    /* padding: 10px 30px 50px 10px; */
}

.Service_background {
    margin: 100px 0px 100px 0px;
    padding: 70px 30px 100px 30px;
    background-color:#F2F2F2;
}
.service_photo {
    width: 250px;
    height:250px;
    margin:0px 15px 40px 15px;
    border-radius:50%;
}
.service {
    text-align: center;
    font-size: 20px;

}
.service_account {
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 20px 5px 0px 5px;
}

.stage_of_production {
    text-align: left;
}
.stage_of_production_num {
    font-size: 60px;
}
.stage_of_production_title {
    text-align: left;
}
.stage_of_production_account {
    padding: 10px 20px 10px 20px;
}

.consultation {
    background-color:#F2F2F2;
    /* margin: 130px 40px 0px 40px;
    padding: 50px 0px 50px 0px; */
}
.contact {
    border: none;
    background-color: purple;
    color: white;
    font-size: 20px;
    /* padding: 10px 20px 10px 20px; */
    border-radius: 20%;
    /* margin: 10px 100px 0px 750px; */
}
