.lower_bar {
    position: relative;
    left: 40px;
    width: 1150px;
    height: 50px;
    padding: 50px 0px 50px 20px;
    background-color: #2E2E2E;
    line-height: 10px;

}
.lower_menu_bar {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.address {
    color:#BBB7B7;
    font-size: 15px;
}
